*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
body {
	overflow: hidden;
}
/* Button Design  */
.popup-container {
    position: fixed;
    background-color: rgb(32, 30, 30);
    height: 100vh;
    width: 100vw;
}

button {
    padding: 14px 32px;
    background-color: teal;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    position: fixed;
    top: 45%;
    left: 45%;
}